<a href="https://colab.research.google.com/github/Shivani8780/Matrimonial-Profile/blob/main/matching_algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import re

# Load your data (Replace 'your_file.csv' with your actual file path)
df = pd.read_csv('matching.csv')  # Replace with the path to your actual CSV file

# Function to clean height values
def clean_height(value):
    # Convert to string to handle any type of input
    value = str(value)

    # Step 1: Remove all non-numeric characters except the decimal point (.)
    cleaned_value = re.sub(r"[^0-9.]", "", value)

    # Step 2: Ensure only one decimal point exists, if multiple, remove the extras
    if cleaned_value.count(".") > 1:
        cleaned_value = cleaned_value.replace(".", "", cleaned_value.count(".") - 1)

    # Step 3: Convert the cleaned value to float if possible
    try:
        return float(cleaned_value) if cleaned_value else None
    except ValueError:
        return None

# Apply the cleaning function to the 'Height (In Feet)' column
df['Cleaned_Height'] = df['Height (In Feet)'].apply(clean_height)

# Display the cleaned DataFrame
print(df)

# Optionally, save the cleaned data to a new CSV file
df.to_csv('cleaned_data.csv', index=False)  # This saves the cleaned data to 'cleaned_data.csv'

            Name Of Candidate Candidate Gender      Candidate Current City   \
0                      Bhavik              Male                    Vadodara
1                 Jigar Mehta              Male                   Ahmedabad
2               Maulik S Jani              Male                   Ahmedabad
3                  Arpan Vyas              Male  United arab emirates Dubai
4     Niyati Hitendra Pandya             Female                  Ahmedabad
...                       ...               ...                         ...
1760              Deven Joshi              Male                    Vadodara
1761       Er. Narayan Shukla              Male                    Vadodara
1762  MEHTA RUSHI BHARATBHAI               Male                  AHMEDABAD
1763             Sachin Raval              Male             Kassel, Germany
1764            Neel Upadhyay              Male    Toronto, Ontario, Canada

     Candidate Current Country  Visa or Residence Status Of Candidate   \
0                        India                          Indian Citizen
1                        India                          Indian Citizen
2                        India                          Indian Citizen
3                        Dubai                       NRI - Work Permit
4                        India                          Indian Citizen
...                        ...                                     ...
1760                     India                          Indian Citizen
1761                     India                          Indian Citizen
1762                     INDIA                          Indian Citizen
1763                   Germany                       NRI - Work Permit
1764                    Canada                       NRI - Citizenship

     Date Of Birth Height (In Feet)  Weight (In KG)  \
0       11.09.1989             5.06              80
1         21101977             5:07              75
2       16-07-1991              5,8              70
3       17-12-1991             5.11              80
4        30-Mar-97     5feet 4 inch              71
...            ...              ...             ...
1760    03-11-1987            5’11”              55
1761    30-12-1992              5.9              72
1762    04-01-1997     5 ft.11.inc.         66 k.g.
1763    14-04-1996              176              65
1764    21-08-1999              5.5              60

                               (11a)  Education Details  \
0                                                   Bca
1                                      BA With Economic
2                                        Bsc. Chemistry
3     10th Only because of some issue couldnr comple...
4                                                  MBBS
...                                                 ...
1760                            MBA from United Kingdom
1761                           B.Tech in C.E[NIRMA Uni]
1762                                     B.E. ( I. T. )
1763  European Triple Master’s in International Fina...
1764                                                MBA

                 Details on Job / Business / Occupation  \
0                                                   Job
1                                                   Job
2                              Clerck At RTO Department
3     SALES MANAGER IN DIAMOND JEWELLERY SHOWROOM DUBAI
4                                Jivraj Mehta Hospital
...                                                 ...
1760                         Partner at Travel company
1761                            Investment Professional
1762                                 SOFTWARE ENGINEER
1763       Rudolph Logistic Group Deutschland (Germany)
1764               Nuclear Engineer and Project Manager

     Mention your Salary or Income (optional)            Marriage Status  \
0                                         NaN  Never Married (Unmarried)
1                            16 lac per annum  Never Married (Unmarried)
2                                         NaN  Never Married (Unmarried)
3                              1Lac Per Month  Never Married (Unmarried)
4                                         50k  Never Married (Unmarried)
...                                       ...                        ...
1760                                12 lakhs   Never Married (Unmarried)
1761                        1 Crore Per Annum  Never Married (Unmarried)
1762                         8.05 lakh - Year  Never Married (Unmarried)
1763                               250000 INR  Never Married (Unmarried)
1764                                      NaN  Never Married (Unmarried)

           Gotra  \
0         Kasysp
1      Laukansya
2       Kushkush
3     Vatsyanas
4      Dharsnsya
...          ...
1760      Gargas
1761     Gargash
1762  BHARADWAJ
1763   Bhardwaj
1764     Agashya

     Candidate has Any Mental / Physical Disability or Minor Problem  ?  \
0                                                    No
1                                                    No
2                                                    No
3                                                    NO
4                                                    No
...                                                 ...
1760                                                 No
1761                                                 NO
1762                                                 NO
1763                                                 NO
1764                                                 No

         Choice Of Education : (Who should contact you)  \
0                                                   Any
1                                              Graduate
2                                          Graduate any
3     Everyone who dont have problem with my educati...
4     Md,MS,Higher post candidate, classone Officer,...
...                                                 ...
1760                                          Graduate
1761  NRI- USA/ UK/ CAD/ EU/AUS CItizen or Class I I...
1762                                          GRADUATE
1763                                                All
1764                                             Anyone

     Choice Of Location :  (Who should contact you) ; Eg. Only Amdavad , Vadodara , Mumbai , NRI , Gujarat Side , Saurashtra Kachchh side , etc)  \
0                                                   Any
1                                           All gujarat
2                                           Gujarat any
3                                                   Any
4                                                   All
...                                                 ...
1760                                                Any
1761                                      NRI-USA/UK/EU
1762                            SAURASHTRA - AHMEDABAD
1763                                                All
1764                                                NRI

         Choice Of Age Gap/ Difference in Year   \
0                                         30.34
1                                      42 to 45
2                                         26-32
3     2 -3 yeaes younger or same age preferred
4                                      27 to 31
...                                         ...
1760                                5 years max
1761                                         10
1762                               1997 To 2000
1763                         18 to 30 Age Group
1764                                      23-26

                                      Any Other Choice   Height  \
0                                                    No     5.0
1                                                    No     NaN
2                        Less Practical More Emotional      NaN
3                                              Notrhing     NaN
4                                              Handdome     NaN
...                                                 ...     ...
1760                                                 No     NaN
1761      Partner's Min Income/Salary 1 Crore Per Annum     NaN
1762                                                 NO     NaN
1763  "Seeking a life partner who shares my dream of...     NaN
1764                                                NaN     NaN

      Cleaned_Height
0               5.06
1             507.00
2              58.00
3               5.11
4              54.00
...              ...
1760          511.00
1761            5.90
1762          511.00
1763          176.00
1764            5.50

[1765 rows x 20 columns]

In [15]:
import pandas as pd
import re

# Load your dataset (replace with the actual path to your CSV file)
df = pd.read_csv('cleaned_data.csv')  # Replace with your CSV file path

# Function to clean and format dates
def clean_date(date_str):
    try:
        # Check if the date contains no separator (e.g., 21101977)
        if isinstance(date_str, str) and len(date_str) == 8 and date_str.isdigit():
            # Convert the date without separator into DD-MM-YYYY format
            return f"{date_str[:2]}-{date_str[2:4]}-{date_str[4:]}"

        # If it's not a non-separated date, try to parse it
        cleaned_date = pd.to_datetime(date_str, errors='coerce', dayfirst=True)  # Set dayfirst=True if dates are in DD/MM/YYYY format
        return cleaned_date.strftime('%d-%m-%Y') if pd.notna(cleaned_date) else None  # Format as DD-MM-YYYY
    except Exception as e:
        return None  # Return None if there's an error in conversion

# Apply the cleaning function to the 'Date Of Birth' column
df['Cleaned_Date_Of_Birth'] = df['Date Of Birth'].apply(clean_date)

# Display the cleaned DataFrame
print(df)

# Optionally, save the cleaned data to a new CSV file
df.to_csv('cleaned_data.csv', index=False)  # Save cleaned data to 'cleaned_data.csv'

<ipython-input-15-027314f9fd46>:16: UserWarning: Parsing dates in %m/%d/%Y format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  cleaned_date = pd.to_datetime(date_str, errors='coerce', dayfirst=True)  # Set dayfirst=True if dates are in DD/MM/YYYY format

            Name Of Candidate Candidate Gender      Candidate Current City   \
0                      Bhavik              Male                    Vadodara
1                 Jigar Mehta              Male                   Ahmedabad
2               Maulik S Jani              Male                   Ahmedabad
3                  Arpan Vyas              Male  United arab emirates Dubai
4     Niyati Hitendra Pandya             Female                  Ahmedabad
...                       ...               ...                         ...
1760              Deven Joshi              Male                    Vadodara
1761       Er. Narayan Shukla              Male                    Vadodara
1762  MEHTA RUSHI BHARATBHAI               Male                  AHMEDABAD
1763             Sachin Raval              Male             Kassel, Germany
1764            Neel Upadhyay              Male    Toronto, Ontario, Canada

     Candidate Current Country  Visa or Residence Status Of Candidate   \
0                        India                          Indian Citizen
1                        India                          Indian Citizen
2                        India                          Indian Citizen
3                        Dubai                       NRI - Work Permit
4                        India                          Indian Citizen
...                        ...                                     ...
1760                     India                          Indian Citizen
1761                     India                          Indian Citizen
1762                     INDIA                          Indian Citizen
1763                   Germany                       NRI - Work Permit
1764                    Canada                       NRI - Citizenship

     Date Of Birth Height (In Feet)  Weight (In KG)  \
0       11.09.1989             5.06              80
1         21101977             5:07              75
2       16-07-1991              5,8              70
3       17-12-1991             5.11              80
4        30-Mar-97     5feet 4 inch              71
...            ...              ...             ...
1760    03-11-1987            5’11”              55
1761    30-12-1992              5.9              72
1762    04-01-1997     5 ft.11.inc.         66 k.g.
1763    14-04-1996              176              65
1764    21-08-1999              5.5              60

                               (11a)  Education Details  \
0                                                   Bca
1                                      BA With Economic
2                                        Bsc. Chemistry
3     10th Only because of some issue couldnr comple...
4                                                  MBBS
...                                                 ...
1760                            MBA from United Kingdom
1761                           B.Tech in C.E[NIRMA Uni]
1762                                     B.E. ( I. T. )
1763  European Triple Master’s in International Fina...
1764                                                MBA

                 Details on Job / Business / Occupation  ...  \
0                                                   Job  ...
1                                                   Job  ...
2                              Clerck At RTO Department  ...
3     SALES MANAGER IN DIAMOND JEWELLERY SHOWROOM DUBAI  ...
4                                Jivraj Mehta Hospital   ...
...                                                 ...  ...
1760                         Partner at Travel company   ...
1761                            Investment Professional  ...
1762                                 SOFTWARE ENGINEER   ...
1763       Rudolph Logistic Group Deutschland (Germany)  ...
1764               Nuclear Engineer and Project Manager  ...

                Marriage Status       Gotra  \
0     Never Married (Unmarried)      Kasysp
1     Never Married (Unmarried)   Laukansya
2     Never Married (Unmarried)    Kushkush
3     Never Married (Unmarried)  Vatsyanas
4     Never Married (Unmarried)   Dharsnsya
...                         ...         ...
1760  Never Married (Unmarried)      Gargas
1761  Never Married (Unmarried)     Gargash
1762  Never Married (Unmarried)  BHARADWAJ
1763  Never Married (Unmarried)   Bhardwaj
1764  Never Married (Unmarried)     Agashya

     Candidate has Any Mental / Physical Disability or Minor Problem  ?  \
0                                                    No
1                                                    No
2                                                    No
3                                                    NO
4                                                    No
...                                                 ...
1760                                                 No
1761                                                 NO
1762                                                 NO
1763                                                 NO
1764                                                 No

         Choice Of Education : (Who should contact you)  \
0                                                   Any
1                                              Graduate
2                                          Graduate any
3     Everyone who dont have problem with my educati...
4     Md,MS,Higher post candidate, classone Officer,...
...                                                 ...
1760                                          Graduate
1761  NRI- USA/ UK/ CAD/ EU/AUS CItizen or Class I I...
1762                                          GRADUATE
1763                                                All
1764                                             Anyone

     Choice Of Location :  (Who should contact you) ; Eg. Only Amdavad , Vadodara , Mumbai , NRI , Gujarat Side , Saurashtra Kachchh side , etc)  \
0                                                   Any
1                                           All gujarat
2                                           Gujarat any
3                                                   Any
4                                                   All
...                                                 ...
1760                                                Any
1761                                      NRI-USA/UK/EU
1762                            SAURASHTRA - AHMEDABAD
1763                                                All
1764                                                NRI

         Choice Of Age Gap/ Difference in Year   \
0                                         30.34
1                                      42 to 45
2                                         26-32
3     2 -3 yeaes younger or same age preferred
4                                      27 to 31
...                                         ...
1760                                5 years max
1761                                         10
1762                               1997 To 2000
1763                         18 to 30 Age Group
1764                                      23-26

                                      Any Other Choice  Height  \
0                                                    No    5.0
1                                                    No    NaN
2                        Less Practical More Emotional     NaN
3                                              Notrhing    NaN
4                                              Handdome    NaN
...                                                 ...    ...
1760                                                 No    NaN
1761      Partner's Min Income/Salary 1 Crore Per Annum    NaN
1762                                                 NO    NaN
1763  "Seeking a life partner who shares my dream of...    NaN
1764                                                NaN    NaN

      Cleaned_Height  Cleaned_Date_Of_Birth
0               5.06             11-09-1989
1             507.00             21-10-1977
2              58.00             16-07-1991
3               5.11             17-12-1991
4              54.00             30-03-1997
...              ...                    ...
1760          511.00             03-11-1987
1761            5.90             30-12-1992
1762          511.00             04-01-1997
1763          176.00             14-04-1996
1764            5.50             21-08-1999

[1765 rows x 21 columns]

In [18]:
import pandas as pd
path = 'cleaned_data.csv'
df1 = pd.read_csv(path)
df1["Education Details"].nunique()

1456

In [19]:
import pandas as pd
import re

# Load your data (replace the filename with your actual file path)
file_path = 'cleaned_data.csv'  # Update this to your actual file path
df = pd.read_csv(file_path)  # Use pd.read_excel() if your file is an Excel file

# Function to clean and standardize education details
def clean_education(education):
    # Remove extra spaces
    education = education.strip() if isinstance(education, str) else ''

    # Convert to uppercase for uniformity
    education = education.upper()

    # Standardize common education terms
    education = re.sub(r'\bB\.A\.\b|\bBA\b', 'BACHELORS OF ARTS', education)
    education = re.sub(r'\bB\.SC\b|\bBSC\b|\bB\.S\.C\b', 'BACHELORS OF SCIENCE', education)
    education = re.sub(r'\bM\.A\.\b|\bMA\b', 'MASTERS OF ARTS', education)
    education = re.sub(r'\bM\.SC\b|\bMSC\b|\bM\.S\.C\b', 'MASTERS OF SCIENCE', education)
    education = re.sub(r'\bMBA\b', 'MASTER OF BUSINESS ADMINISTRATION', education)
    education = re.sub(r'\bPHD\b', 'DOCTORATE', education)

    # Categorize based on keywords
    if 'BACHELOR' in education:
        return 'Bachelors'
    elif 'MASTER' in education or 'MBA' in education:
        return 'Masters'
    elif 'DOCTORATE' in education or 'PHD' in education:
        return 'Doctorate'
    elif 'HIGH SCHOOL' in education:
        return 'High School'
    else:
        return 'Other'  # For any unrecognized values

# Apply the function to clean the Education column
df['Cleaned_Education'] = df['Education Details'].apply(clean_education)

# Save the cleaned data back to the same input file (overwriting the file)
df.to_csv(file_path, index=False)

# Optionally, print the first few rows to check if cleaning worked
print(df.head())

         Name Of Candidate Candidate Gender      Candidate Current City   \
0                   Bhavik              Male                    Vadodara
1              Jigar Mehta              Male                   Ahmedabad
2            Maulik S Jani              Male                   Ahmedabad
3               Arpan Vyas              Male  United arab emirates Dubai
4  Niyati Hitendra Pandya             Female                  Ahmedabad

  Candidate Current Country  Visa or Residence Status Of Candidate   \
0                     India                          Indian Citizen
1                     India                          Indian Citizen
2                     India                          Indian Citizen
3                     Dubai                       NRI - Work Permit
4                     India                          Indian Citizen

  Date Of Birth  Weight (In KG)  \
0    11.09.1989              80
1      21101977              75
2    16-07-1991              70
3    17-12-1991              80
4     30-Mar-97              71

                                   Education Details  \
0                                                Bca
1                                   BA With Economic
2                                     Bsc. Chemistry
3  10th Only because of some issue couldnr comple...
4                                               MBBS

              Details on Job / Business / Occupation  \
0                                                Job
1                                                Job
2                           Clerck At RTO Department
3  SALES MANAGER IN DIAMOND JEWELLERY SHOWROOM DUBAI
4                             Jivraj Mehta Hospital

  Mention your Salary or Income (optional)  ...  \
0                                      NaN  ...
1                         16 lac per annum  ...
2                                      NaN  ...
3                           1Lac Per Month  ...
4                                      50k  ...

      Choice Of Education : (Who should contact you)  \
0                                                Any
1                                           Graduate
2                                       Graduate any
3  Everyone who dont have problem with my educati...
4  Md,MS,Higher post candidate, classone Officer,...

  Choice Of Location :  (Who should contact you) ; Eg. Only Amdavad , Vadodara , Mumbai , NRI , Gujarat Side , Saurashtra Kachchh side , etc)  \
0                                                Any
1                                        All gujarat
2                                        Gujarat any
3                                                Any
4                                                All

      Choice Of Age Gap/ Difference in Year                Any Other Choice   \
0                                      30.34                              No
1                                   42 to 45                              No
2                                      26-32  Less Practical More Emotional
3  2 -3 yeaes younger or same age preferred                         Notrhing
4                                   27 to 31                        Handdome

  Height Cleaned_Height Final_Heiht  Cleaned_Date_Of_Birth  Weight(in kg)  \
0    5.0           5.06        5.06             11-09-1989           80.0
1    NaN           5.07        5.07             21-10-1977           75.0
2    NaN           5.80         5.8             16-07-1991           70.0
3    NaN           5.11        5.11             17-12-1991           80.0
4    NaN           5.40         5.4             30-03-1997           71.0

  Cleaned_Education
0             Other
1         Bachelors
2         Bachelors
3             Other
4             Other

[5 rows x 23 columns]

In [ ]:
import pandas as pd
import re

# Load your data (replace the filename with your actual file path)
file_path = 'cleaned_data.csv'  # Update this to your actual file path
df = pd.read_csv(file_path)  # Use pd.read_excel() if your file is an Excel file

# Function to clean and standardize education details
def clean_education(education):
    # Ensure the input is a string and strip extra spaces
    education = str(education).strip().upper()

    # Check for specific patterns
    if education.startswith('B'):  # Starts with 'B'
        return 'Bachelors'
    elif education.startswith('M'):  # Starts with 'M'
        return 'Masters'
    elif education.startswith('10') or education.startswith('10TH'):  # Starts with '10' or '10th'
        return 'Secondary School'
    elif education.startswith('12') or education.startswith('12TH'):  # Starts with '12' or '12th'
        return 'High School'
    elif 'DIPLOMA' in education:  # Contains 'Diploma'
        return 'Diploma'
    elif 'PHD' in education or 'DOCTORATE' in education:  # Contains 'PhD' or 'Doctorate'
        return 'Doctorate'
    else:
        return 'Other'  # Default category for unrecognized values

# Apply the function to clean the Education column
df['Cleaned_Education'] = df['Education Details'].apply(clean_education)

# Save the cleaned data back to the same input file (overwriting the file)
df.to_csv(file_path, index=False)

# Optionally, print the first few rows to verify the changes
print(df.head())