<a href="https://colab.research.google.com/github/Shivani8780/Matrimonial-Profile/blob/main/matching_algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Load the dataset
data_path = 'data_for_matching.csv'
df = pd.read_csv(data_path)

# Display the first few rows and column information to inspect the dataset
print(df.head())

  Name Of Candidate  Candidate Gender  Who is doing this Registration ?   \
0             Bhavik              Male                              Self
1          Test test              Male                              Self
2        Jigar Mehta              Male                              Self
3      Maulik S Jani              Male                              Self
4         Arpan Vyas              Male                              Self

                       MOBILE_NO                CITY_COUNTRY  \
0                     9879784037                    Vadodara
1                         546676                    Vadodara
2                     9426360910                   Ahmedabad
3                     7600212721                   Ahmedabad
4  +971559948677 , +919727131991  United arab emirates Dubai

  Candidate Current Residence Area Category Candidate Current Country  \
0  Gujarat Region (North , Central , South)                     India
1  Gujarat Region (North , Central , South)                     India
2  Gujarat Region (North , Central , South)                     India
3  Gujarat Region (North , Central , South)                     India
4               Saurashtra - Kachchh Region                     Dubai

  Visa or Residence Status Of Candidate  Date Of Birth Time Of Birth  ...  \
0                         Indian Citizen    11.09.1989    4:45:00 AM  ...
1                         Indian Citizen        356566   10:12:00 AM  ...
2                         Indian Citizen      21101977   12:45:00 PM  ...
3                         Indian Citizen    16-07-1991   10:47:00 AM  ...
4                      NRI - Work Permit    17-12-1991    5:10:00 AM  ...

          Nadi Shani / Managal          Type Of Brahmin       Gotra  \
0       Aadhya      Don't Know                 Audumbar      Kasysp
1       Aadhya   Yes (Nirdosh)                       Ok          Ok
2       Madhya   Yes (Nirdosh)   Saurahtra baj khedaval   Laukansya
3  I Dont Know              No  Chaturvedi Modh Brahman    Kushkush
4  I Dont Know              No             Modh Brahmin  Vatsyanas

  Candidate has Any Mental / Physical Disability or Minor Problem   \
0                                                 No
1                                                 No
2                                                 No
3                                                 No
4                                                 NO

  Siblings Details (Brother/Sister) & Contact Number   \
0                                                  1
1                                            Ok56455
2                                    Younger brother
3                                                Non
4                                        9.17203E+11

                                Choice Of Education  Choice Of Location   \
0                                                Any                 Any
1                                                 Ok                  Ok
2                                           Graduate         All gujarat
3                                       Graduate any         Gujarat any
4  Everyone who dont have problem with my educati...                 Any

      Choice Of Age Gap/ Difference in Year                Any Other Choice
0                                      30.34                              No
1                                         Ok                              Ok
2                                   42 to 45                              No
3                                      26-32  Less Practical More Emotional
4  2 -3 yeaes younger or same age preferred                         Notrhing

[5 rows x 29 columns]

In [2]:
# Strip leading and trailing spaces from column names for easier handling
df.columns = [col.strip() for col in df.columns]

# Display the cleaned column names and the first few rows to confirm changes
print(df.columns)
print(df.head())

Index(['Name Of Candidate', 'Candidate Gender',
       'Who is doing this Registration ?', 'MOBILE_NO', 'CITY_COUNTRY',
       'Candidate Current Residence Area Category',
       'Candidate Current Country', 'Visa or Residence Status Of Candidate',
       'Date Of Birth', 'Time Of Birth', 'Birth Place', 'Height (In Feet)',
       'Weight (In KG)', 'Highest Education Category', 'Education Details',
       'Job/Business/Occupation Category',
       'Details on Job / Business / Occupation',
       'Mention your Salary or Income (optional)', 'Marriage Status', 'Nadi',
       'Shani / Managal', 'Type Of Brahmin', 'Gotra',
       'Candidate has Any Mental / Physical Disability or Minor Problem',
       'Siblings Details (Brother/Sister) & Contact Number',
       'Choice Of Education', 'Choice Of Location',
       'Choice Of Age Gap/ Difference in Year', 'Any Other Choice'],
      dtype='object')
  Name Of Candidate Candidate Gender Who is doing this Registration ?  \
0            Bhavik             Male                             Self
1         Test test             Male                             Self
2       Jigar Mehta             Male                             Self
3     Maulik S Jani             Male                             Self
4        Arpan Vyas             Male                             Self

                       MOBILE_NO                CITY_COUNTRY  \
0                     9879784037                    Vadodara
1                         546676                    Vadodara
2                     9426360910                   Ahmedabad
3                     7600212721                   Ahmedabad
4  +971559948677 , +919727131991  United arab emirates Dubai

  Candidate Current Residence Area Category Candidate Current Country  \
0  Gujarat Region (North , Central , South)                     India
1  Gujarat Region (North , Central , South)                     India
2  Gujarat Region (North , Central , South)                     India
3  Gujarat Region (North , Central , South)                     India
4               Saurashtra - Kachchh Region                     Dubai

  Visa or Residence Status Of Candidate Date Of Birth Time Of Birth  ...  \
0                        Indian Citizen    11.09.1989    4:45:00 AM  ...
1                        Indian Citizen        356566   10:12:00 AM  ...
2                        Indian Citizen      21101977   12:45:00 PM  ...
3                        Indian Citizen    16-07-1991   10:47:00 AM  ...
4                     NRI - Work Permit    17-12-1991    5:10:00 AM  ...

          Nadi Shani / Managal          Type Of Brahmin       Gotra  \
0       Aadhya      Don't Know                 Audumbar      Kasysp
1       Aadhya   Yes (Nirdosh)                       Ok          Ok
2       Madhya   Yes (Nirdosh)   Saurahtra baj khedaval   Laukansya
3  I Dont Know              No  Chaturvedi Modh Brahman    Kushkush
4  I Dont Know              No             Modh Brahmin  Vatsyanas

  Candidate has Any Mental / Physical Disability or Minor Problem  \
0                                                 No
1                                                 No
2                                                 No
3                                                 No
4                                                 NO

  Siblings Details (Brother/Sister) & Contact Number  \
0                                                  1
1                                            Ok56455
2                                    Younger brother
3                                                Non
4                                        9.17203E+11

                                 Choice Of Education Choice Of Location  \
0                                                Any                Any
1                                                 Ok                 Ok
2                                           Graduate        All gujarat
3                                       Graduate any        Gujarat any
4  Everyone who dont have problem with my educati...                Any

       Choice Of Age Gap/ Difference in Year                Any Other Choice
0                                      30.34                              No
1                                         Ok                              Ok
2                                   42 to 45                              No
3                                      26-32  Less Practical More Emotional
4  2 -3 yeaes younger or same age preferred                         Notrhing

[5 rows x 29 columns]

In [3]:
# Check for missing values and data types to identify potential issues
print(df.isnull().sum())
print(df.dtypes)

Name Of Candidate                                                    0
Candidate Gender                                                     0
Who is doing this Registration ?                                     0
MOBILE_NO                                                            1
CITY_COUNTRY                                                         0
Candidate Current Residence Area Category                            0
Candidate Current Country                                            0
Visa or Residence Status Of Candidate                                0
Date Of Birth                                                        0
Time Of Birth                                                        1
Birth Place                                                          0
Height (In Feet)                                                     1
Weight (In KG)                                                       1
Highest Education Category                                           0
Education Details                                                    0
Job/Business/Occupation Category                                     0
Details on Job / Business / Occupation                               6
Mention your Salary or Income (optional)                           730
Marriage Status                                                      0
Nadi                                                               163
Shani / Managal                                                      1
Type Of Brahmin                                                      0
Gotra                                                                4
Candidate has Any Mental / Physical Disability or Minor Problem     31
Siblings Details (Brother/Sister) & Contact Number                  49
Choice Of Education                                                 17
Choice Of Location                                                  10
Choice Of Age Gap/ Difference in Year                               16
Any Other Choice                                                   105
dtype: int64
Name Of Candidate                                                  object
Candidate Gender                                                   object
Who is doing this Registration ?                                   object
MOBILE_NO                                                          object
CITY_COUNTRY                                                       object
Candidate Current Residence Area Category                          object
Candidate Current Country                                          object
Visa or Residence Status Of Candidate                              object
Date Of Birth                                                      object
Time Of Birth                                                      object
Birth Place                                                        object
Height (In Feet)                                                   object
Weight (In KG)                                                     object
Highest Education Category                                         object
Education Details                                                  object
Job/Business/Occupation Category                                   object
Details on Job / Business / Occupation                             object
Mention your Salary or Income (optional)                           object
Marriage Status                                                    object
Nadi                                                               object
Shani / Managal                                                    object
Type Of Brahmin                                                    object
Gotra                                                              object
Candidate has Any Mental / Physical Disability or Minor Problem    object
Siblings Details (Brother/Sister) & Contact Number                 object
Choice Of Education                                                object
Choice Of Location                                                 object
Choice Of Age Gap/ Difference in Year                              object
Any Other Choice                                                   object
dtype: object

In [4]:
# Cleaning and preprocessing the dataset
import numpy as np

# Convert 'Date Of Birth' to datetime format
df['Date Of Birth'] = pd.to_datetime(df['Date Of Birth'], errors='coerce')

# Convert 'Height (In Feet)' and 'Weight (In KG)' to numeric, coercing errors
df['Height (In Feet)'] = pd.to_numeric(df['Height (In Feet)'], errors='coerce')
df['Weight (In KG)'] = pd.to_numeric(df['Weight (In KG)'], errors='coerce')

# Fill missing numeric values with median
df['Height (In Feet)'].fillna(df['Height (In Feet)'].median(), inplace=True)
df['Weight (In KG)'].fillna(df['Weight (In KG)'].median(), inplace=True)

# Fill missing categorical values with 'Unknown'
categorical_columns = df.select_dtypes(include=['object']).columns
df[categorical_columns] = df[categorical_columns].fillna('Unknown')

# Drop rows with critical missing values (e.g., Name or MOBILE_NO)
df.dropna(subset=['Name Of Candidate', 'MOBILE_NO'], inplace=True)

# Display the cleaned dataset's head and info
print(df.head())
print(df.info())

  Name Of Candidate Candidate Gender Who is doing this Registration ?  \
0            Bhavik             Male                             Self
1         Test test             Male                             Self
2       Jigar Mehta             Male                             Self
3     Maulik S Jani             Male                             Self
4        Arpan Vyas             Male                             Self

                       MOBILE_NO                CITY_COUNTRY  \
0                     9879784037                    Vadodara
1                         546676                    Vadodara
2                     9426360910                   Ahmedabad
3                     7600212721                   Ahmedabad
4  +971559948677 , +919727131991  United arab emirates Dubai

  Candidate Current Residence Area Category Candidate Current Country  \
0  Gujarat Region (North , Central , South)                     India
1  Gujarat Region (North , Central , South)                     India
2  Gujarat Region (North , Central , South)                     India
3  Gujarat Region (North , Central , South)                     India
4               Saurashtra - Kachchh Region                     Dubai

  Visa or Residence Status Of Candidate Date Of Birth Time Of Birth  ...  \
0                        Indian Citizen    1989-11-09    4:45:00 AM  ...
1                        Indian Citizen           NaT   10:12:00 AM  ...
2                        Indian Citizen           NaT   12:45:00 PM  ...
3                        Indian Citizen           NaT   10:47:00 AM  ...
4                     NRI - Work Permit           NaT    5:10:00 AM  ...

          Nadi  Shani / Managal          Type Of Brahmin       Gotra  \
0       Aadhya       Don't Know                 Audumbar      Kasysp
1       Aadhya    Yes (Nirdosh)                       Ok          Ok
2       Madhya    Yes (Nirdosh)   Saurahtra baj khedaval   Laukansya
3  I Dont Know               No  Chaturvedi Modh Brahman    Kushkush
4  I Dont Know               No             Modh Brahmin  Vatsyanas

  Candidate has Any Mental / Physical Disability or Minor Problem  \
0                                                 No
1                                                 No
2                                                 No
3                                                 No
4                                                 NO

  Siblings Details (Brother/Sister) & Contact Number  \
0                                                  1
1                                            Ok56455
2                                    Younger brother
3                                                Non
4                                        9.17203E+11

                                 Choice Of Education Choice Of Location  \
0                                                Any                Any
1                                                 Ok                 Ok
2                                           Graduate        All gujarat
3                                       Graduate any        Gujarat any
4  Everyone who dont have problem with my educati...                Any

       Choice Of Age Gap/ Difference in Year                Any Other Choice
0                                      30.34                              No
1                                         Ok                              Ok
2                                   42 to 45                              No
3                                      26-32  Less Practical More Emotional
4  2 -3 yeaes younger or same age preferred                         Notrhing

[5 rows x 29 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1766 entries, 0 to 1765
Data columns (total 29 columns):
 #   Column                                                           Non-Null Count  Dtype
---  ------                                                           --------------  -----
 0   Name Of Candidate                                                1766 non-null   object
 1   Candidate Gender                                                 1766 non-null   object
 2   Who is doing this Registration ?                                 1766 non-null   object
 3   MOBILE_NO                                                        1766 non-null   object
 4   CITY_COUNTRY                                                     1766 non-null   object
 5   Candidate Current Residence Area Category                        1766 non-null   object
 6   Candidate Current Country                                        1766 non-null   object
 7   Visa or Residence Status Of Candidate                            1766 non-null   object
 8   Date Of Birth                                                    34 non-null     datetime64[ns]
 9   Time Of Birth                                                    1766 non-null   object
 10  Birth Place                                                      1766 non-null   object
 11  Height (In Feet)                                                 1766 non-null   float64
 12  Weight (In KG)                                                   1766 non-null   float64
 13  Highest Education Category                                       1766 non-null   object
 14  Education Details                                                1766 non-null   object
 15  Job/Business/Occupation Category                                 1766 non-null   object
 16  Details on Job / Business / Occupation                           1766 non-null   object
 17  Mention your Salary or Income (optional)                         1766 non-null   object
 18  Marriage Status                                                  1766 non-null   object
 19  Nadi                                                             1766 non-null   object
 20  Shani / Managal                                                  1766 non-null   object
 21  Type Of Brahmin                                                  1766 non-null   object
 22  Gotra                                                            1766 non-null   object
 23  Candidate has Any Mental / Physical Disability or Minor Problem  1766 non-null   object
 24  Siblings Details (Brother/Sister) & Contact Number               1766 non-null   object
 25  Choice Of Education                                              1766 non-null   object
 26  Choice Of Location                                               1766 non-null   object
 27  Choice Of Age Gap/ Difference in Year                            1766 non-null   object
 28  Any Other Choice                                                 1766 non-null   object
dtypes: datetime64[ns](1), float64(2), object(26)
memory usage: 400.2+ KB
None

<ipython-input-4-0fc1a66d2b21>:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Height (In Feet)'].fillna(df['Height (In Feet)'].median(), inplace=True)
<ipython-input-4-0fc1a66d2b21>:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Weight (In KG)'].fillna(df['Weight (In KG)'].median(), inplace=True)