<a href="https://colab.research.google.com/github/Shivani8780/Matrimonial-Profile/blob/main/matching_algo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import re

# Load the dataset
file_path = 'data_for_matching.csv'
df = pd.read_csv(file_path)

# Strip leading and trailing spaces from column names for easier handling
df.columns = [col.strip() for col in df.columns]

# Display the cleaned column names and the first few rows to confirm changes
print(df.columns)
print(df.head())

def clean_height(height):
    if pd.isnull(height):
        return None
    height = str(height).lower()
    if 'feet' in height or 'ft' in height:
        feet = re.findall(r'(\d+)\s*feet', height)
        inches = re.findall(r'(\d+)\s*inch', height)
        feet = int(feet[0]) if feet else 0
        inches = int(inches[0]) if inches else 0
        return feet * 12 + inches
    elif '\'' in height:
        parts = height.split('\'')
        feet = int(parts[0]) if parts[0].isdigit() else 0
        inches = int(parts[1].replace('"', '')) if len(parts) > 1 and parts[1].replace('"', '').isdigit() else 0
        return feet * 12 + inches
    else:
        try:
            return float(height)
        except ValueError:
            return None

# Apply the height cleaning function
df['Height (In Feet)'] = df['Height (In Feet)'].apply(clean_height)


def clean_weight(weight):
    if pd.isnull(weight):
        return None
    # Remove non-numeric characters except for the first decimal point
    weight = re.sub(r'[^\d.]', '', str(weight))
    # Remove any extra decimal points
    weight = re.sub(r'\.+', '.', weight)
    # Ensure the string ends correctly
    if weight.endswith('.'):
        weight = weight[:-1]
    try:
        return float(weight) if weight else None
    except ValueError:
        return None

# Apply the weight cleaning function
df['Weight (In KG)'] = df['Weight (In KG)'].apply(clean_weight)

# Clean text fields
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

# Save the cleaned data
df.to_csv('data_for_matching.csv', index=False)

print("Data cleaning complete. Cleaned data saved to 'data_for_matching.csv'.")

Index(['Name Of Candidate', 'Candidate Gender',
       'Who is doing this Registration ?', 'CITY_COUNTRY',
       'Candidate Current Country', 'Visa or Residence Status Of Candidate',
       'Date Of Birth', 'Time Of Birth', 'Height (In Feet)', 'Weight (In KG)',
       'Education Details', 'Job/Business/Occupation Category',
       'Details on Job / Business / Occupation',
       'Mention your Salary or Income (optional)', 'Marriage Status',
       'Shani / Managal', 'Gotra',
       'Candidate has Any Mental / Physical Disability or Minor Problem',
       'Choice Of Education', 'Choice Of Location',
       'Choice Of Age Gap/ Difference in Year', 'Any Other Choice'],
      dtype='object')
  Name Of Candidate Candidate Gender Who is doing this Registration ?  \
0            Bhavik             Male                             Self
1         Test test             Male                             Self
2       Jigar Mehta             Male                             Self
3     Maulik S Jani             Male                             Self
4        Arpan Vyas             Male                             Self

                 CITY_COUNTRY Candidate Current Country  \
0                    Vadodara                     India
1                    Vadodara                     India
2                   Ahmedabad                     India
3                   Ahmedabad                     India
4  United arab emirates Dubai                     Dubai

  Visa or Residence Status Of Candidate Date Of Birth Time Of Birth  \
0                        Indian Citizen    11.09.1989    4:45:00 AM
1                        Indian Citizen        356566   10:12:00 AM
2                        Indian Citizen      21101977   12:45:00 PM
3                        Indian Citizen    16-07-1991   10:47:00 AM
4                     NRI - Work Permit    17-12-1991    5:10:00 AM

   Height (In Feet)  Weight (In KG)  ...  \
0              5.06            80.0  ...
1              5.06            60.0  ...
2               NaN            75.0  ...
3               NaN            70.0  ...
4              5.11            80.0  ...

              Details on Job / Business / Occupation  \
0                                                Job
1                                                 Ok
2                                                Job
3                           Clerck At RTO Department
4  SALES MANAGER IN DIAMOND JEWELLERY SHOWROOM DUBAI

  Mention your Salary or Income (optional)            Marriage Status  \
0                                      NaN  Never Married (Unmarried)
1                                     3455  Never Married (Unmarried)
2                         16 lac per annum  Never Married (Unmarried)
3                                      NaN  Never Married (Unmarried)
4                           1Lac Per Month  Never Married (Unmarried)

  Shani / Managal      Gotra  \
0      Don't Know     Kasysp
1   Yes (Nirdosh)         Ok
2   Yes (Nirdosh)  Laukansya
3              No   Kushkush
4              No  Vatsyanas

  Candidate has Any Mental / Physical Disability or Minor Problem  \
0                                                 No
1                                                 No
2                                                 No
3                                                 No
4                                                 NO

                                 Choice Of Education Choice Of Location  \
0                                                Any                Any
1                                                 Ok                 Ok
2                                           Graduate        All gujarat
3                                       Graduate any        Gujarat any
4  Everyone who dont have problem with my educati...                Any

      Choice Of Age Gap/ Difference in Year               Any Other Choice
0                                     30.34                             No
1                                        Ok                             Ok
2                                  42 to 45                             No
3                                     26-32  Less Practical More Emotional
4  2 -3 yeaes younger or same age preferred                       Notrhing

[5 rows x 22 columns]
Data cleaning complete. Cleaned data saved to 'data_for_matching.csv'.

<ipython-input-17-47827d6a3705>:59: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [19]:
# Function to clean date formats
def clean_date(date):
    try:
        return pd.to_datetime(date, errors='coerce').strftime('%d-%m-%Y')
    except:
        return None

# Apply the date cleaning function
df['Date Of Birth'] = df['Date Of Birth'].apply(clean_date)
# Clean text fields
df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

df['Candidate has Any Mental / Physical Disability or Minor Problem'] = df['Candidate has Any Mental / Physical Disability or Minor Problem'].str.lower().str.strip()

<ipython-input-19-1e91771a864e>:4: UserWarning: Parsing dates in %d-%m-%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  return pd.to_datetime(date, errors='coerce').strftime('%d-%m-%Y')
<ipython-input-19-1e91771a864e>:11: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df = df.applymap(lambda x: x.strip() if isinstance(x, str) else x)

In [20]:
df['Choice Of Education'] = df['Choice Of Education'].str.lower().str.strip()

In [21]:
def clean_salary(salary):
    if pd.isnull(salary):
        return None
    salary = str(salary).lower()
    # Extract numeric values
    numbers = re.findall(r'\d+', salary)
    if 'lac' in salary:
        return int(numbers[0]) * 100000 if numbers else None
    elif 'k' in salary:
        return int(numbers[0]) * 1000 if numbers else None
    elif 'cad' in salary:
        return int(numbers[0]) * 60 if numbers else None  # Example conversion rate
    else:
        return int(numbers[0]) if numbers else None

df['Mention your Salary or Income (optional)'] = df['Mention your Salary or Income (optional)'].apply(clean_salary)

In [23]:
df['Marriage Status'] = df['Marriage Status'].str.lower().str.strip()
df['Education Details'] = df['Education Details'].str.lower().str.strip()

In [24]:
df.fillna('Unknown', inplace=True)

<ipython-input-24-876f1fdd0c9d>:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Unknown' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.fillna('Unknown', inplace=True)

In [25]:
df['Candidate has Any Mental / Physical Disability or Minor Problem'] = df['Candidate has Any Mental / Physical Disability or Minor Problem'].str.lower().str.strip()
df['Choice Of Education'] = df['Choice Of Education'].str.lower().str.strip()
df['Marriage Status'] = df['Marriage Status'].str.lower().str.strip()
df['Shani / Managal'] = df['Shani / Managal'].str.lower().str.strip()

In [25]:
df['Gotra'] = df['Gotra'].str.lower().str.strip()